// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question {
  border-left: solid 3px gray;
  padding: 0px 5px;
}


.answer {
  border-left: solid 3px gray;
  padding: 0px 5px;
  background-color: #FEFFE0;
}
